<div class="page-heading-board d-flex justify-content-between">
    <h2>{{board_name}}</h2>
    <button type="button" class="btn-add-col">New column</button>
</div>
<div class="board-body d-flex justify-content-between " total_columns={{total_columns}}>
    {{#each columns}}
    <div class="col-retro">
        <div class="d-flex justify-content-between">
            <div class="col-name">{{this.column_name}}</div>
            <i class="fas fa-trash icon-trash"></i>
        </div>
        <button type="button" class="btn-add-task">+</button>

        <div class="drag-task" id={{this.column_name}}>
            <div class="no-drag">.</div>
            {{#each this.task}}
            <div class="task-retro">
                <div class="d-flex justify-content-between">
                    <div class="task-name">{{this.task_name}}</div>
                    <i class="fas fa-pen"></i>
                </div>
                <div class="d-flex justify-content-between ">
                    <div class="task-owner">{{this.task_owner}}</div>
                    <i class="fas fa-thumbs-up"> {{this.total_vote}}</i>
                    <i class='fas fa-comment-alt'> {{this.total_comment}}</i>
                </div>
            </div>
            {{/each}}
        </div>

    </div>
    {{/each}}
</div>